---
layout: archive
title: "Photography"
permalink: /photography/
author_profile: true
---

{% include base_path %}

<!-- write a short introduction to the page -->
<p>Here are some of my favorite photos I've taken over the years. I've been fortunate to travel to some amazing places and meet some amazing people. These photos are a small collection of some of my favorite memories. Hopefully I will have time to update this page with more new photos! (Last updated: March 8th, 2024.)</p>

{% for image in site.static_files %}
  {% if image.path contains 'photography' %}
    <img src='{{ image.path }}' alt='{{ image.name }}'>
    <p>{{ image.name | remove: ".jpg" | remove: ".png" | remove: ".gif" | remove: ".jpeg"}} </p>
    <br>
  {% endif %}
{% endfor %}

